body {
    background-color: #f5dfd9;
}

.logo-div {
    background-color: red !important;
    width: 65vh !important;
    height: 25vh;
    margin-top: 3vh;
    margin-left: 30%;
    border-radius: 15px;
    text-align: center;
    padding-top: 5px;
    position: absolute;
    color: white;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 700;
}

.logoimg {
    width: 70px;
    height: 50px;
    background-color: white;
    border-radius: 100%;
}

.login-form {
    background-color: white !important;
    width: 65vh !important;
    height: 100vh;
    margin-left: 0%;
    border-radius: 15px;
    margin-top: 3px;
}

.redirect {
    margin-left: 85%;
    color: red;
    font-size: 15px;
    padding-top: 2px;
}

.signup {
    color: red;
    font-size: 30px;
    font-weight: bold;
    margin-left: -60% !important;
    margin-top: 20px;
}

.forms {
    width: 45%;
    font-size: 15px;
    height: 35px;
    background-color: #f5dfd9;
    border-radius: 5px;
    outline: none;
    border: none;
}

.dateofbirth {
    color: black;
    font-size: 15px;
    margin-left: -250px;
    margin-top: 15px;
}

.date {
    width: 30%;
    font-size: 15px;
    height: 35px;
    background-color: #f5dfd9;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: -20px;
}

.year {
    width: 120px;
}

/* Hide the spinner arrows */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    /* Optionally, you can provide some styling to make the input field visually distinct */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.phone {
    width: 200px;
    font-size: 15px;
    height: 35px;
    background-color: #f5dfd9;
    border-radius: 5px;
    outline: none;
    border: none;
}

#country-code {
    width: 150px;
}

.longinp {
    width: 360px;
    margin-top: 30px;
}

@media screen and (max-width:490px) {
    .logo-div {
        /* margin-left: -10% !important; */
        width: 55vh !important;
        margin: 0;
    }

    .login-form {
        width: 55vh !important;
        margin: 0;

    }
}